<!doctype html>
<html lang="en">
<head>
 	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="http://plottablejs.org/assets/lib/plottable.css">	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="http://plottablejs.org/assets/lib/d3.js"></script>
	<script src="http://plottablejs.org/assets/lib/plottable.js"></script>
</head>
<body>
  
	<svg id="tutorial-result" class="plottable"></svg>
	<script>
	function makeBasicChart() {

  var xScale = new Plottable.Scales.Linear();
  var yScale = new Plottable.Scales.Linear();

  var xAxis = new Plottable.Axes.Numeric(xScale, "bottom");
  var yAxis = new Plottable.Axes.Numeric(yScale, "left");

  var plot = new Plottable.Plots.Bar();
  plot.x(function(d) { return d.x; }, xScale);
  plot.y(function(d) { return d.y; }, yScale);

  var data = [
    { "x": 0, "y": 1 },
    { "x": 1, "y": 2 },
    { "x": 2, "y": 4 },
    { "x": 3, "y": 8 }
  ];

  var dataset = new Plottable.Dataset(data);
  plot.addDataset(dataset);

  var chart = new Plottable.Components.Table([
    [yAxis, plot],
    [null, xAxis]
  ]);

  chart.renderTo("svg#tutorial-result");

	};

	$(document).ready(function() {
		makeBasicChart();
	});

	
	</script>
</body>
</html>
